<div data-lift="surround?with=default;at=content">
    <form data-lift="Download.hello" method="post" class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <input id="l-index-link" type="text" placeholder="Link" class="input-xxlarge" required="required">
            </div>
            <div class="controls">
                <span data-lift="Msg?id=m-index-link&errorClass=text-error">Error</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input id="l-index-submit" type="submit" value="Download" class="btn"/>
            </div>
        </div>
    </form>
</div>